@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Welcome to Bartendroid</h1>

<p>Welcome to the world of Bartendroid, the ultimate robotic cocktail maker designed to revolutionize the way you enjoy your favorite drinks. With Bartendroid, you can say goodbye to traditional bartending and experience a whole new level of convenience and sophistication.</p>
    

<p>Imagine having a personal bartender at home or at your favorite bar, who is always ready to whip up the perfect cocktail for you. That's exactly what Bartendroid does! With its advanced technology and innovative design, this robotic cocktail maker creates customized drinks tailored to your taste preferences.</p>

<p>Bartendroid is not just any ordinary cocktail maker. It is equipped with a state-of-the-art mixing system that ensures your drinks are perfectly mixed, every time. Whether you prefer classic cocktails like Margaritas and Old Fashioneds, or modern mixes like Espresso Martinis and Gin Fizzes, Bartendroid has got you covered.</p>

<p>Not only is Bartendroid a master at mixing drinks, but it is also incredibly easy to use. Simply select your favorite drink from the touchscreen interface, and Bartendroid will take care of the rest. Plus, its sleek and stylish design makes it a perfect addition to any home bar or party.</p>

<p>So, whether you're a seasoned mixologist or just looking to impress your guests with a perfectly crafted drink, Bartendroid is the ultimate solution. Sit back, relax, and let Bartendroid take your cocktail experience to the next level.


</div>
